header {
    background-color:#E5DBD4;
    display: flex;
    justify-content: space-between;
        padding: 0 20px 0 20px;
        max-width: 3057px;
        width: 100%
}
#current-page{background-color: #F6C391;
    color:rgb(210, 83, 128);}
.logo{border-radius: 40%;}
a{ text-decoration: none;
color: inherit}
h2{   color: rgb(210, 83, 128);
    font-family: Monotype Corsiva;}
.container-navegacao {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
}
.navegacao-interna {
    display: flex;
    padding: px50;
    list-style: none;
    gap: 50px;
}
.navegacao-interna > li{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    display: inline;
    background-color:#D25380;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    color: #F6C391;}

.navegacao-externa {
    padding: 50px;
    margin: 0 10pxpx;
}
body{font-family: Arial, Helvetica, sans-serif;
background-color: rgb(255, 250, 244);}
section{display: flex;
justify-content: center;
padding: 20px;}
li{list-style: none;
    border-radius: 30px;
background-color: #D25380;}
 .Renata{border-radius: 50%;
width: 300px;}

    footer{font-size: x-small;text-align: center; color: rgb(210, 83, 128);background-color: #e5dbd4;
        max-width: 3057px;
        width: 100%}
